.content {

  &__container {
    max-width: 967px;
    margin: 0 auto;
    padding: 0 15px;
    transform: translateX(-22px);
  }

  &__title {
    text-indent: 6px;
    color: $darkBlue;
    margin-bottom: 25px;
  }

  &__row {
    &-text {
      font-size: 18px;
      line-height: 27px;
      color: $grey;
      max-width: 584px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 918px;
    margin: 25px 0 90px 9px;
  }
  //background-color: red;
  padding: 36px 0 69px 0;
}
