.header {

  &__container {
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31.5px 51px;
  }

  &__button {
    margin-top: -2px;
  }

  &__logo {
    margin: 3px 0 0 6px;
  }

  &__burger {
    margin-top: 5px;
  }

  &__button,
  &__logo,
  &__burger {
    z-index: 1;
  }

}

@media (max-width: 991px) {
  .header {
    &__container {
      padding: 31.5px 15px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__button {
      display: none;
    }
  }
}

@media (max-width: 380px) {
  .header {
    &__container {
      padding: 31.5px 24px;
    }
  }
}
