h1, .h1 {
  font-family: 'Poppins Regular';
}

h1, .h1 {
  font-size: 40px;
  line-height: 60px;
}

h2, .h2 {
  font-family: 'Poppins Regular';
}

.body,
.body-1,
.body-2,
.body-3
{
  font-family: 'Poppins Regular';
}

.body-1 {
  font-size: 15px;
  line-height: 22px;
}

.body-2 {
  font-size: 14px;
  line-height: 18px;
}

.body-3 {
  font-size: 12px;
  line-height: 18px;
}
