h1, .h1 {
  font-family: 'Poppins Regular';
  font-size: 40px;
  line-height: 60px;
}

.body {
  font-family: 'Poppins Regular';
}

.body-1 {
  font-family: 'Poppins Medium';
  font-size: 15px;
  line-height: 22px;
}

.body-2 {
  font-family: 'Poppins Regular';
  font-size: 14px;
  line-height: 18px;
}

.body-3 {
  font-family: 'Poppins Regular';
  font-size: 12px;
  line-height: 18px;
}
