.button {

  &._dark {
    background-color: $darkBlue;
  }

  &._purple {
    background-color: $purple;
  }

  background-color: $purple;
  color: $white;
  border-radius: 25px;
  padding: 10px 30px;
}
